<div class="wrapper">
  <div class="action-bar">
    <button type="button" (click)="zoomOut()">-</button>
    <button type="button" (click)="zoomIn()">+</button>
    <button type="button" (click)="fitToPage()">Fit to Page</button>
    <button type="button" (click)="zoomToPercent(0.25)">25%</button>
    <button type="button" (click)="zoomToPercent(0.5)">50%</button>
    <button type="button" (click)="zoomToPercent(0.75)">75%</button>
    <button type="button" (click)="zoomToPercent(1)">100%</button>
    <button type="button" (click)="zoomToPercent(1.25)">125%</button>
    <button type="button" (click)="zoomToPercent(1.5)">150%</button>
    <button type="button" (click)="zoomToPercent(2)">200%</button>
    <button type="button" (click)="zoomToPercent(3)">300%</button>
  </div>
  <div class="inner">
    <canvas #canvas></canvas>
  </div>
</div>
